/* 
 * Made by John Mark B. Escorel for Intro To Computing
 * All rights reserved © 2025
  */

/* Content */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
/* Colors */
:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: rgba(192,54,57,1);
}
/* Values */
html, body {
    background: var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth; /* For smooth scrolling */
    font-size: 60%;
    overflow-x: hidden;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 10%;
    background: rgba( 0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 666;
}
#icon-menu {
    font-size: 4rem;
    color: var(--main-color);
    display: none;
}
.logo {
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover {
    transform: scale(1.1);
}
span {
    background-image: linear-gradient( 270deg,  rgba(192,54,57,1) 11.2%, rgba(100,20,21,1) 56.8% );
    background-clip: text;
    color: transparent;
}
.navbar a{
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
section {
    min-height: 100vh;
    padding: 10rem 15%;
}
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-txt {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.home-txt h1 {
    font-size: 6rem;
    font-weight: 700;
    margin-top: 2rem;
    line-height: 1;
}
.home-txt h3 {
    margin: 1rem 0;
    font-size: 4rem;
}
.home-img {
    width: 50vh;
    height: 50vh;
    border-radius: 50%; 
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.home-img img {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
}
.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.heading {
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}
.about-me {
    background-color: var(--bg-color);
    color: black;
}.about-me h2 {
    color: var(--text-color);
}
.about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 3rem;
}
.about-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 600px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}
.about-box:hover {
    background: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.about-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.about-info h4 {
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}
.about-info p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.7;
}
.about-info i {
    font-size: 8rem;
}
.hobbies {
    background-color: var(--second-bg-color);
}
.hobbies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
}
.hobbies-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease;
}
.hobbies-box:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 25px var(--main-color);
    transform: scale(1.02);
}
.hobbies-box img {
    max-width: 300px;
    border-radius: 2rem;
    object-fit: cover;
}
.hobbies-box h3 {
    font-size: 3rem;
}
.hobbies-box p {
    font-size: 1.5rem;
}
.footer {
    background-color: var(--second-bg-color);
    padding: 50px 0;
}
.footer h3 {
    font-size: 2rem;
    text-align: center;
}
.social-icons {
    text-align: center;
}
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}
.footer .copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}
/* Responsiveness */
@media(max-width:1285px) { 
    #icon-menu {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navbar.active {
        display: block;
    }
    .home {
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }
    .about-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        align-items: center;
        gap: 3rem;
    }
    .hobbies-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        place-items: center;
        gap: 3rem;
        row-gap: 5rem;
    }
}